@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
    <!-- プロフィール -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)"
           id="profile"
           asp-page="./Index">
            プロフィール
        </a>
    </li>

    <!-- メールアドレス -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)"
           id="email"
           asp-page="./Email">
            メールアドレス
        </a>
    </li>

    <!-- パスワード -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)"
           id="change-password"
           asp-page="./ChangePassword">
            パスワード
        </a>
    </li>

    <!-- 外部ログイン（Google/Microsoft など） -->
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login"
               class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)"
               asp-page="./ExternalLogins">
                外部ログイン
            </a>
        </li>
    }

    <!-- 2 要素認証 -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"
           id="two-factor"
           asp-page="./TwoFactorAuthentication">
            2 要素認証
        </a>
    </li>

    <!-- 個人データ -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)"
           id="personal-data"
           asp-page="./PersonalData">
            個人データ
        </a>
    </li>
</ul>
